@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
	border: 0;
	font-family: "Raleway", sans-serif;
}
